html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  background-color: rgb(231, 231, 231);
}
.Header {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}
  .Header__Title {
    text-align: center;
  }

.Contents {
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
  padding: 10px;
  margin: 15px;
  text-shadow: 1px 1px 0 rgba(0,0,0, .1);
}

.Menu {
  display: flex;
  align-items: center;
  padding: 5px 5px 0;
  border-bottom: 1px solid rgb(195, 195, 195);
  /*display: none;*/
}
.MenuItem {
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.MenuItem__label {
  font-size: 10px;
  font-weight: 600;
  color: #3c3c3c;
  /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgb(175, 175, 175)), color-stop(100%, rgb(195, 195, 195)));*/
  /*background-color: */
  /*175 ~ 193*/
}

.MenuItem.-active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgb(175, 175, 175)), color-stop(100%, rgb(195, 195, 195)));
}

.EmojiStyle {
  background-color: #fff;
  padding: 7px;
  border-radius: 2px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.24);
  -webkit-user-select: none;
}
  .EmojiStyle__Caution {
    font-size: 12px;
    padding: 4px 0;
    color: #099bf1;
    text-shadow: none;
    text-align: right;
    line-height: 1.5;
  }

.EmojiType {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  padding: 5px;
  font-size: 16px;
  /*background-color: #d4d4d4;*/
  /*text-shadow: 1px 1px 0 rgba(0,0,0, .1);*/
}
input[name="emojiSet"]:checked + .EmojiType {
  color: #fff;
  background-color: #2d9ee0;
}
