<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Preference</title>
  <link rel="stylesheet" href="./node_modules/bulma/css/bulma.css">
  <link rel="stylesheet" href="./preference.css">
</head>
<body>
  <div id="preference"></div>
  <script>
    const {ipcRenderer} = require('electron')
    const types = require('./store/types')
    const {Emoji} = require('emoji-mart-vue')
    const Vue = require('vue/dist/vue.common')
    const storage = require('electron-json-storage')
//    storage.get(types.STORAGE_DATA, (err, data) => {
//      if (err) return console.log(err)
//      console.log(data)
//    })
    // API token取得方法をREADMEに書いてリンク貼る
    new Vue({
      el: '#preference',
      template: `
      <div>
        <header class="Header">
          <div class="Header__Title">
            Preference
          </div>
          <div class="Menu">
            <span class="MenuItem">
              <Emoji emoji=":key:" :set="emojiSet"/>
              <span class="MenuItem__label">Token</span>
            </span>
            <span class="MenuItem">
              <Emoji emoji=":smiley:" :set="emojiSet"/>
              <span class="MenuItem__label">Emoji</span>
            </span>
          </div>
        </header>
        <section class="Contents">
          <div class="field">
            <label class="label">API token</label>
            <div class="control">
              <input :value="apiToken" ref="tokenInput" class="input" type="text" placeholder="Input your API token">
            </div>
          </div>
          <div class="field is-clearfix">
            <button @click="saveToken" class="button is-info is-pulled-right">Save</button>
          </div>
        </section>
        
        <section class="Contents">
          <div class="field">
            <label class="label">Emoji Style</label>
            <div class="EmojiStyle control">
              <label class="radio" v-for="emojiType in emojiSetList">
                <input type="radio" name="emojiSet" style="display: none;"
                  v-model="emojiSet"
                  :value="emojiType.value"
                >
                <div class="EmojiType">
                  <Emoji :size="20" emoji=":smiley:" :set="emojiType.value"/>
                  <span>&nbsp;{{emojiType.label}}</span>
                </div>
              </label>
            </div>
          </div>
        </section>
      </div>
      `,
      data() {
        return {
          apiToken: null,
          emojiSet: null,
          emojiSetList: [
            {
              label: 'Apple',
              value: 'apple',
            },
            {
              label: 'Google',
              value: 'google',
            },
            {
              label: 'Twitter',
              value: 'twitter',
            },
            {
              label: 'Emoji One',
              value: 'emojione',
            },
          ]
        }
      },
      created() {
        storage.get(types.STORAGE_DATA, (err, data) => {
          if (err) return console.log(err)
          this.apiToken = data.apiToken
          this.emojiSet = data.emojiSet
        })
      },
      watch: {
        emojiSet(newVal, oldVal) {
          if (!oldVal) return
          this.update({emojiSet: newVal})
        }
      },
      
      methods: {
        saveToken() {
          // Tokenの検証してから保存する
          // 検証が成功したら通知出す
          const apiToken = this.$refs.tokenInput.value
          this.update({apiToken})
        },
        
        update(payload) {
          ipcRenderer.send(types.UPDATE_PREFERENCE, payload)
        }
      },
      
      components: {
        Emoji
      }
    })
  </script>
</body>
</html>
